:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: dark;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
}

body,
html {
    height: 100%;
}

canvas {
    height: 100%;
    width: 100%;
    outline: none;

    background-color: #000;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

canvas {
    height: 100%;
    width: 100%;
    outline: none;
    background-color: #000;
    pointer-events: auto;
}


.over-canvas {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    pointer-events: none;

    * {
        pointer-events: all;
    }
}


@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}


@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* ------------------ LOADER STYLES ------------------ */

#resources{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

#resources h1 {
    font-size: 2em;
    margin: 0;
}

#resources h2 {
    font-size: 1.5em;
    margin: 0;
}

#progress-image-bar,
#progress-bar {
    width: 50%;
    height: 2em;
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 0.5em;
    margin-top: 1em;
    position: relative;
}

#percentage-image-loading,
#percentage-loading {
    height: 100%;
    background-color: #01e7e7;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#percentage-image-loading,
#percentage-loading h3 {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #000;
    margin: 0;
}

#percentage-image,
#percentage {
    margin-top: 0.5em;
    font-size: 1.2em;
}

/* ------------------ SEARCH STYLES ------------------ */

.search-overlay{
    position: absolute;
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 100vw;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}


